  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <h1><i class="fas fa-paw"></i> Add your animal</h1>
        <%= render 'form', animal: @animal %>
        <br>
      </div>
    </div>
  </div>
