  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <h1>Add your animal</h1>
        <%= render 'form', animal: @animal %>
        <br>
        <i class="fas fa-plus"></i><%= link_to "Back to home page", root_path %>
      </div>
    </div>
  </div>
