<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1>All the info you need in one place 🦌</h1>

        <ul class="list-inline tabs-underlined">
        <li>
          <a href="/dashboard" class="tab-underlined ">Your infos</a>
        </li>
        <li>
          <a href="animals" class="tab-underlined ">Your animals plan</a>
        </li>
        <li>
          <a href="bookings" class="tab-underlined active">Bookings</a>
        </li>
      </ul>

    </div>
  </div>
</div>