.btn-show {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: pink;
  transition: background 0.3s ease;
  margin-top: auto;
}

.btn-show:hover {
  background: white;
  color: pink;
}
