#map {
  height: 100vh;
  position: sticky;
  top: 3;
  width: 400px;
}

.mapboxgl-popup {
  max-width: 300px;
  // max-width: 100px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  width: 150px;
  height: 150px;
}

.map-card {
  background-size: cover;
  background-position: center;
  height: 130px;
  border-radius: 1px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 22px;
  color: white;
  font-weight: bolder;
  text-shadow: 0 0 10px rgba(0,0,0,0.7);
  border-radius: 5px;
}
