.paws-wallpaper {
  height: max-content;
  width: 100%;
  background-image: url("paws-wallpaper.jpg");
  .background-white {
    background-color: rgba(255, 255, 255, 0.7);
    .display-flex-center {
      position: relative;
      z-index: 2;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      img {
        margin: 20px 0px;
      }
      .animal-description {
        text-align: left;
        background-color: white;
        width: 400px;
        margin-bottom: 10px;
        padding-left: 10px;
        padding-top: 10px;
        box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);

      }
      .animal-type {
        text-align: left;
        background-color: white;
        width: 400px;
        margin-bottom: 10px;
        padding-left: 10px;
        padding-top: 10px;
        box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);

      }
      .animal-address {
        text-align: left;
        background-color: white;
        width: 400px;
        margin-bottom: 20px;
        padding-left: 10px;
        padding-top: 10px;
        box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);

      }
      .animal-actions {
        text-align: center;
      }
    }
  }
}

