.paws-wallpaper {
  height: max-content;
  width: 100%;
  background-image: url("paws-wallpaper.jpg");
}

.show-container {
  width:  80%;
  margin: auto;
  display: flex;
  background-color: rgba(255, 255, 255, 0.7);
}

.show-container-left {
  flex-grow: 1;
}

.show-title {
  display: flex;
  justify-content: space-between;
  margin-bottom:   20px;
}

.animal-content{
  display: flex;
  width: 700px;
  padding-bottom: 20px;
}

.animal-description{
  text-align: left;
  background-color: rgb(250, 240, 241);
  width: 600px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-top: 10px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
}

.animal-calendar {
  height:   50vh;
  width: 300px;
  position: sticky;
  top:      25%;
  right:    10%;
}
